@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


/* UNIVERSAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    position: relative;
    background: lightseagreen;
    font-family: 'Goldman', cursive;
}
button{
    font-family: 'Goldman', cursive;
}



/* GRID ASSIGNMENTS */
#t1{grid-area: t1;}
#t2{grid-area: t2;}
#t3{grid-area: t3;}
#t4{grid-area: t4;}
#t5{grid-area: t5;}
#lab-1{grid-area: lab-1;}
#lab-1a{grid-area: lab-1a;}

/* GRID AREAS */
#gallery-main{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    ;
    grid-template-rows: 20vh 20vh;
    grid-template-areas:
    't1 t1 t2 t2 t3 t3'
    't4 t4 t4 t5 t5 t5'
    ;
    gap: 10px;
}
#gallery-t1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'lab-1a lab-1'
    ;
    gap: 10px;
}




#lab-1{
    width: 48vw;
}
#lab-1a{
    width: 48vw;
}
.t{
    font-size: 5vh;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    background-size: 100%;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px black;
}
#t1{
    background-image: url(./media/Elliottlab1C.jpg);
}
#t2{
    background-image: url(./media/Elliottlab2A.jpg);
}
#t3{
    background-image: url(./media/The\ Decision.jpg);
}
#t4{
    background-image: url(./media/rainy-night.jpg);
}
#t5{
    background-image: url(./media/AdamHatesYogaSmall.mp4);
}


/* GALLERY GRID SETTINGS */




/* HEADER */
header{
    
    text-shadow: 0 0 3px black;
    font-size: 2rem;
    color: white;
    text-align: center;
    background: rgb(162, 0, 202);
    
    padding: 10px;
}

main{
    padding: 20px 0 100px 0;
}
.lab{
    height: 80vh;
    margin: auto;
    display: block;
}
article{
    text-align: center;
    font-size: 1.25rem;
    background: white;
    padding: 20px;
    width: 50vw;
    margin: 20px auto;
    border-radius: 10px;
}
h1{

}
h3{
    text-decoration: underline;
    padding: 10px;
}
h4{
    padding: 10px;
}
button{
    width: 20vw;
    height: 4vh;
    display: block;
    margin: auto;
}


footer{
    position: absolute;
    width: 100vw;
    bottom: 0px;
    color: white;
    font-size: 1.25rem;
    padding: 20px;
    background: rgba(128, 128, 128, 0.75);
    text-align: center;
}




